! ---------------------------------------------------
! file:     ~/.Xresources
! Modified by : frank shin - http://frankshin.com/
! Sourced from :   jason ryan - http://jasonwryan.com/
! vim:fenc=utf-8:nu:ai:si:et:ts=4:sw=4:ft=xdefaults:
! ---------------------------------------------------

! Urxvt
URxvt.intensityStyles: false
URxvt.buffered: true
URxvt.cursorColor: #395573
URxvt.cursorUnderline: false
URxvt.cursorBlink: false
URxvt.geometry: 80x22
URxvt.transparent: 0
URxvt*urgentOnBell: true
URxvt.lineSpace: 0
URxvt.letterSpace: -1
URxvt*scrollBar_right: false
URxvt*scrollBar: false
URxvt*borderLess: false

! Font settings
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
Xft.hintstyle:  hintfull
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb

! -- Fonts -- !
URxvt*font:xft:dejavu sans mono:medium:pixelsize=16
URxvt*boldFont:xft:dejavu sans mono:medium:pixelsize=16
!URxvt*font:xft:droid sans mono slashed:pixelsize=18
!URxvt*boldFont:xft:droid sans mono slashed:pixelsize=18
!URxvt*font:xft:luxi mono:regular:pixelsize=16
!URxvt*boldFont:xft:luxi mono:regular:pixelsize=16

! -- Colours -- !
#include "/home/frank604/.colours/solarized"

! --  Extensions -- !
URxvt.perl-ext-common: matcher,keyboard-select,url-select,clipboard
URxvt.keysym.M-Escape: perl:keyboard-select:activate
URxvt.keysym.M-u:      perl:url-select:select_next
URxvt.keysym.M-s:      perl:keyboard-select:search
URxvt.keysym.M-c:      perl:clipboard:copy
URxvt.keysym.M-v:      perl:clipboard:paste
URxvt.keysym.M-C-v:    perl:clipboard:paste_escaped
URxvt.url-select.launcher: firefox
URxvt.matcher.rend.0:  -Uline fg16
URxvt.matcher.button:  1

